## Funciones para acceder a archivos

In [0]:
from google.colab import files # Te permite importar archivos desde tus archivos en PC
uploaded = files.upload()

In [0]:
file = np.loadtxt("datos Inicial.txt") # Se cargan el archivo
print(file)

In [0]:
#Para descargar desde el github
!curl --remote-name \
     -H 'Accept: application/vnd.github.v3.raw' \
     --location https://raw.githubusercontent.com/lijumtzc/Suicide-Rates/master/master.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 2642k  100 2642k    0     0  4195k      0 --:--:-- --:--:-- --:--:-- 4195k

In [0]:
!ls #Te permite ver el archivo

master.csv  sample_data

In [0]:
!head master.csv # Visulaizas parte de la información

﻿country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year, gdp_for_year ($) ,gdp_per_capita ($),generation
Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,,"2,156,624,900",796,Generation X
Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,,"2,156,624,900",796,Silent
Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,,"2,156,624,900",796,Generation X
Albania,1987,male,75+ years,1,21800,4.59,Albania1987,,"2,156,624,900",796,G.I. Generation
Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,,"2,156,624,900",796,Boomers
Albania,1987,female,75+ years,1,35600,2.81,Albania1987,,"2,156,624,900",796,G.I. Generation
Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,,"2,156,624,900",796,Silent
Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,,"2,156,624,900",796,Boomers
Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,,"2,156,624,900",796,G.I. Generation

In [0]:
import pandas as pd
import numpy as np
import os


# to download https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016
data_path = 'path/to/folder/'

df = (pd.read_csv(filepath_or_buffer=os.path.join('master.csv'))
      .rename(columns={'suicides/100k pop' : 'suicides_per_100k',
                       ' gdp_for_year ($) ' : 'gdp_year', 
                       'gdp_per_capita ($)' : 'gdp_capita',
                       'country-year' : 'country_year'})
      .assign(gdp_year=lambda _df: _df['gdp_year'].str.replace(',','').astype(np.int64))
     )

In [0]:
df

          country  year     sex  ...     gdp_year  gdp_capita       generation
0         Albania  1987    male  ...   2156624900         796     Generation X
1         Albania  1987    male  ...   2156624900         796           Silent
2         Albania  1987  female  ...   2156624900         796     Generation X
3         Albania  1987    male  ...   2156624900         796  G.I. Generation
4         Albania  1987    male  ...   2156624900         796          Boomers
...           ...   ...     ...  ...          ...         ...              ...
27815  Uzbekistan  2014  female  ...  63067077179        2309     Generation X
27816  Uzbekistan  2014  female  ...  63067077179        2309           Silent
27817  Uzbekistan  2014    male  ...  63067077179        2309     Generation Z
27818  Uzbekistan  2014  female  ...  63067077179        2309     Generation Z
27819  Uzbekistan  2014  female  ...  63067077179        2309          Boomers

[27820 rows x 12 columns]

In [0]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides_per_100k', 'country_year', 'HDI for year', 'gdp_year',
       'gdp_capita', 'generation'],
      dtype='object')

In [0]:
df['generation'].unique() # Describe qué generaciones existen en la tabla

array(['Generation X', 'Silent', 'G.I. Generation', 'Boomers',
       'Millenials', 'Generation Z'], dtype=object)

In [0]:
df['country'].nunique() # Número de países

101

In [0]:
df['country'].unique() # Describe los países

array(['Albania', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Barbados', 'Belarus', 'Belgium', 'Belize',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Cabo Verde',
       'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Dominica', 'Ecuador',
       'El Salvador', 'Estonia', 'Fiji', 'Finland', 'France', 'Georgia',
       'Germany', 'Greece', 'Grenada', 'Guatemala', 'Guyana', 'Hungary',
       'Iceland', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Kazakhstan', 'Kiribati', 'Kuwait', 'Kyrgyzstan', 'Latvia',
       'Lithuania', 'Luxembourg', 'Macau', 'Maldives', 'Malta',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Panama', 'Paraguay',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Republic of Korea', 'Romania', 'Russian Federation',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'San Marino', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa',
       'Spain', 'Sri Lanka', 'Suriname', 'Sweden', 'Switzerland',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'Turkmenistan',
       'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan'], dtype=object)

In [0]:
df['year'].unique()

array([1987, 1988, 1989, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999,
       2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       1985, 1986, 1990, 1991, 2012, 2013, 2014, 2015, 2011, 2016])

In [0]:
df['age'].unique()

array(['15-24 years', '35-54 years', '75+ years', '25-34 years',
       '55-74 years', '5-14 years'], dtype=object)

In [0]:
df.describe(include = 'all')

          country          year  ...     gdp_capita    generation
count       27820  27820.000000  ...   27820.000000         27820
unique        101           NaN  ...            NaN             6
top     Mauritius           NaN  ...            NaN  Generation X
freq          382           NaN  ...            NaN          6408
mean          NaN   2001.258375  ...   16866.464414           NaN
std           NaN      8.469055  ...   18887.576472           NaN
min           NaN   1985.000000  ...     251.000000           NaN
25%           NaN   1995.000000  ...    3447.000000           NaN
50%           NaN   2002.000000  ...    9372.000000           NaN
75%           NaN   2008.000000  ...   24874.000000           NaN
max           NaN   2016.000000  ...  126352.000000           NaN

[11 rows x 12 columns]

In [0]:
import pandas as pd

def mem_usage(df: pd.DataFrame) -> str:
    """El método memory_usage()que analiza el consumo de memoria de un marco de datos. 
    En el código, deep=Truese especifica para asegurarse de que se tenga en cuenta el uso real del sistema.
    """
    return f'{df.memory_usage(deep=True).sum() / 1024 ** 2 : 3.2f} MB '


def convert_df(df: pd.DataFrame, deep_copy: bool = True) -> pd.DataFrame:
    """Convierte automáticamente el tipo de columna a categorysi menos del 50% de los valores en la columna son únicos. 
    """
    return df.copy(deep=deep_copy).astype({
        col: 'category' for col in df.columns
        if df[col].nunique() / df[col].shape[0] < 0.5})

In [0]:
mem_usage(df)

' 10.28 MB '

In [0]:
mem_usage(df.set_index(['country', 'year', 'sex', 'age']))

' 5.00 MB '

In [0]:
mem_usage(convert_df(df))

' 1.40 MB '

In [0]:
mem_usage(convert_df(df.set_index(['country', 'year', 'sex', 'age'])))

' 1.40 MB '

In [0]:
%%time
df.query('country == "Albania" and year == 1987 and sex == "male" and age == "25-34 years"')

CPU times: user 12.8 ms, sys: 0 ns, total: 12.8 ms
Wall time: 20.8 ms

   country  year   sex  ...    gdp_year  gdp_capita  generation
4  Albania  1987  male  ...  2156624900         796     Boomers

[1 rows x 12 columns]

In [0]:
%%time
mi_df = df.set_index(['country', 'year', 'sex', 'age'])

CPU times: user 18.8 ms, sys: 0 ns, total: 18.8 ms
Wall time: 21.2 ms

In [0]:
mi_df

                                    suicides_no  ...       generation
country    year sex    age                       ...
Albania    1987 male   15-24 years           21  ...     Generation X
                       35-54 years           16  ...           Silent
                female 15-24 years           14  ...     Generation X
                male   75+ years              1  ...  G.I. Generation
                       25-34 years            9  ...          Boomers
...                                         ...  ...              ...
Uzbekistan 2014 female 35-54 years          107  ...     Generation X
                       75+ years              9  ...           Silent
                male   5-14 years            60  ...     Generation Z
                female 5-14 years            44  ...     Generation Z
                       55-74 years           21  ...          Boomers

[27820 rows x 8 columns]

In [0]:
%%time
mi_df.loc['Albania', 1987, 'male', '25-34 years']

CPU times: user 3.66 ms, sys: 93 µs, total: 3.75 ms
Wall time: 3.42 ms

suicides_no                    9
population                274300
suicides_per_100k           3.28
country_year         Albania1987
HDI for year                 NaN
gdp_year              2156624900
gdp_capita                   796
generation               Boomers
Name: (Albania, 1987, male, 25-34 years), dtype: object

In [0]:
%%time
mi_df.sort_index()

CPU times: user 51.1 ms, sys: 1.05 ms, total: 52.2 ms
Wall time: 57.6 ms

                                    suicides_no  ...       generation
country    year sex    age                       ...
Albania    1987 female 15-24 years           14  ...     Generation X
                       25-34 years            4  ...          Boomers
                       35-54 years            6  ...           Silent
                       5-14 years             0  ...     Generation X
                       55-74 years            0  ...  G.I. Generation
...                                         ...  ...              ...
Uzbekistan 2014 male   25-34 years          318  ...       Millenials
                       35-54 years          519  ...     Generation X
                       5-14 years            60  ...     Generation Z
                       55-74 years          144  ...          Boomers
                       75+ years             17  ...           Silent

[27820 rows x 8 columns]

In [0]:
mi_df.index.is_monotonic

False

In [0]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'a_column': [1, -999, -999],
                    'powerless_column': [2, 3, 4],
                    'int_column': [1, 1, -1]})
df

In [0]:
df['a_column'] = df['a_column'].replace(-999, np.nan)
df

In [0]:
df['power_column'] = df['powerless_column'] ** 2
df

In [0]:
df['real_column'] = df['int_column'].astype(np.float64)
df

In [0]:
df = df.apply(lambda _df: _df.replace(4, np.nan))
df

In [0]:
df = df.dropna(how='all')
df

In [0]:
df = (pd.DataFrame({'a_column': [1, -999, -999],
                    'powerless_column': [2, 3, 4],
                    'int_column': [1, 1, -1]})
        .assign(a_column=lambda _df: _df['a_column'].replace(-999, np.nan),
                power_column=lambda _df: _df['powerless_column'] ** 2,
                real_column=lambda _df: _df['int_column'].astype(np.float64))
        .apply(lambda _df: _df.replace(4, np.nan))
        .dropna(how='all')
      )
df

   a_column  powerless_column  int_column  power_column  real_column
0       1.0               2.0           1           NaN          1.0
1       NaN               3.0           1           9.0          1.0
2       NaN               NaN          -1          16.0         -1.0

In [0]:
(df
 .groupby('age')
 .agg({'generation':'unique'})
 .rename(columns={'generation':'unique_generation'})
)

                                    unique_generation
age
15-24 years                [Generation X, Millenials]
25-34 years       [Boomers, Generation X, Millenials]
35-54 years           [Silent, Boomers, Generation X]
5-14 years   [Generation X, Millenials, Generation Z]
55-74 years        [G.I. Generation, Silent, Boomers]
75+ years                   [G.I. Generation, Silent]

In [0]:
(df
 .groupby(['country', 'year'])
 .agg({'suicides_per_100k': 'sum'})
 .rename(columns={'suicides_per_100k':'suicides_sum'})
 .sort_values('suicides_sum', ascending=False)
 .head(10)
)

                         suicides_sum
country            year
Lithuania          1995        639.30
                   1996        595.61
Hungary            1991        575.00
Lithuania          2000        571.80
Hungary            1992        570.26
Lithuania          2001        568.98
Russian Federation 1994        567.64
Lithuania          1998        566.36
                   1997        565.44
                   1999        561.53

In [0]:
(df
 .groupby(['country', 'year'])
 .agg({'suicides_per_100k': 'sum'})
 .rename(columns={'suicides_per_100k':'suicides_sum'})
 .nlargest(10, columns='suicides_sum')
)

                         suicides_sum
country            year
Lithuania          1995        639.30
                   1996        595.61
Hungary            1991        575.00
Lithuania          2000        571.80
Hungary            1992        570.26
Lithuania          2001        568.98
Russian Federation 1994        567.64
Lithuania          1998        566.36
                   1997        565.44
                   1999        561.53

In [0]:
(mi_df
 .loc[('Switzerland', 2000)]
 .unstack('sex')
 [['suicides_no', 'population']]
)

            suicides_no      population
sex              female male     female     male
age
15-24 years          20   79     410136   426957
25-34 years          47  147     537823   530378
35-54 years         124  360    1072711  1094229
5-14 years            1    4     412273   436831
55-74 years         128  239     723750   649009
75+ years            79  152     330903   184589

In [0]:
def log_head(df, head_count=10):
    print(df.head(head_count))
    return df

def log_columns(df):
    print(df.columns)
    return df

def log_shape(df):
    print(f'shape = {df.shape}')
    return df

In [0]:
(df
 .pipe(log_shape)
 .query('sex == "female"')
 .groupby(['year', 'country'])
 .agg({'suicides_per_100k':'sum'})
 .pipe(log_shape)
 .rename(columns={'suicides_per_100k':'sum_suicides_per_100k_female'})
 .nlargest(n=10, columns=['sum_suicides_per_100k_female'])
)

shape = (27820, 12)
shape = (2321, 1)

                        sum_suicides_per_100k_female
year country
2009 Republic of Korea                        170.89
1989 Singapore                                163.16
1986 Singapore                                161.67
2010 Republic of Korea                        158.52
2007 Republic of Korea                        149.60
2011 Republic of Korea                        147.84
1991 Hungary                                  147.35
2008 Republic of Korea                        147.04
2000 Aruba                                    146.22
2005 Republic of Korea                        145.35

In [0]:
from sklearn.preprocessing import MinMaxScaler

def norm_df(df, columns):
    return df.assign(**{col: MinMaxScaler().fit_transform(df[[col]].values.astype(float)) 
                        for col in columns})

In [0]:
for sex in ['male', 'female']:
    print(sex)
    print(
        df
        .query(f'sex == "{sex}"')
        .groupby(['country'])
        .agg({'suicides_per_100k': 'sum', 'gdp_year': 'mean'})
        .rename(columns={'suicides_per_100k':'suicides_per_100k_sum', 
                         'gdp_year': 'gdp_year_mean'})
    )
    print('\n')

male
                      suicides_per_100k_sum  gdp_year_mean
country
Albania                              605.78   5.211661e+09
Antigua and Barbuda                  163.52   8.035452e+08
Argentina                           3188.54   2.742565e+11
Armenia                              736.80   5.386592e+09
Aruba                               1320.17   2.196223e+09
...                                     ...            ...
United Arab Emirates                  60.08   2.532432e+11
United Kingdom                      2158.12   1.816067e+12
United States                       4271.16   1.051071e+13
Uruguay                             5444.72   2.337827e+10
Uzbekistan                          1565.79   2.286003e+10

[101 rows x 2 columns]


female
                      suicides_per_100k_sum  gdp_year_mean
country
Albania                              318.98   5.211661e+09
Antigua and Barbuda                   15.62   8.035452e+08
Argentina                            706.05   2.742565e+11
Armenia                              239.41   5.386592e+09
Aruba                                276.35   2.196223e+09
...                                     ...            ...
United Arab Emirates                  34.81   2.532432e+11
United Kingdom                       632.80   1.816067e+12
United States                        869.81   1.051071e+13
Uruguay                             1094.24   2.337827e+10
Uzbekistan                           572.38   2.286003e+10

[101 rows x 2 columns]

In [0]:
for sex in ['male', 'female']:
    print(sex)
    print(
        df
        .query(f'sex == "{sex}"')
        .groupby(['country'])
        .agg({'suicides_per_100k': 'sum', 'gdp_year': 'mean'})
        .rename(columns={'suicides_per_100k':'suicides_per_100k_sum', 
                         'gdp_year': 'gdp_year_mean'})
        .pipe(norm_df, columns=['suicides_per_100k_sum', 'gdp_year_mean'])
    )
    print('\n')

male
                      suicides_per_100k_sum  gdp_year_mean
country
Albania                            0.064269       0.000490
Antigua and Barbuda                0.017348       0.000071
Argentina                          0.338279       0.026088
Armenia                            0.078169       0.000507
Aruba                              0.140060       0.000203
...                                     ...            ...
United Arab Emirates               0.006374       0.024088
United Kingdom                     0.228960       0.172778
United States                      0.453137       1.000000
Uruguay                            0.577643       0.002219
Uzbekistan                         0.166118       0.002169

[101 rows x 2 columns]


female
                      suicides_per_100k_sum  gdp_year_mean
country
Albania                            0.115777       0.000490
Antigua and Barbuda                0.005669       0.000071
Argentina                          0.256267       0.026088
Armenia                            0.086896       0.000507
Aruba                              0.100304       0.000203
...                                     ...            ...
United Arab Emirates               0.012635       0.024088
United Kingdom                     0.229681       0.172778
United States                      0.315706       1.000000
Uruguay                            0.397165       0.002219
Uzbekistan                         0.207751       0.002169

[101 rows x 2 columns]

In [0]:
for sex in ['male', 'female']:
    print(sex)
    print(
        df
        .query(f'sex == "{sex}"')
        .groupby(['country'])
        .agg({'suicides_per_100k': 'sum', 'gdp_year': 'mean'})
        .rename(columns={'suicides_per_100k':'suicides_per_100k_sum', 
                         'gdp_year': 'gdp_year_mean'})
        .pipe(norm_df, columns=['suicides_per_100k_sum', 'gdp_year_mean'])
        .corr(method='spearman')
    )
    print('\n')

male
                       suicides_per_100k_sum  gdp_year_mean
suicides_per_100k_sum               1.000000       0.421218
gdp_year_mean                       0.421218       1.000000


female
                       suicides_per_100k_sum  gdp_year_mean
suicides_per_100k_sum               1.000000       0.452343
gdp_year_mean                       0.452343       1.000000